{% extends "__base.html" %}

{% block title %}Real World Django - События{% endblock %}

{% block header %}
  {% with 'События' as subj %}
        {% include "snippets/_left_top.html" %}
    {% endwith %}
{% endblock %}

{% block content %}
        <!-- Start CONTAINER_BAR -->
        <div class="container-fluid mt-3">
            <div class="row mb-4">
                <div class="col">
                    <div class="card shadow">
                        <div class="card-body">
                            <form action="." method="get">
                                <div class="row row-cols-lg-auto g-3 align-items-start">
                                    <div class="col-12">
                                        {{ filter_form.category.label_tag }}
                                        {{ filter_form.category }}
                                    </div>
                                    <div class="col-12">
                                        {{ filter_form.features.label_tag }}
                                        {{ filter_form.features }}
                                    </div>
                                    <div class="col-12 d-md-flex">
                                        <div class="mx-1">
                                            {{ filter_form.date_start.label_tag }}
                                            {{ filter_form.date_start }}
                                        </div>
                                        <div class="mx-1">
                                            {{ filter_form.date_end.label_tag }}
                                            {{ filter_form.date_end }}
                                        </div>
                                    </div>
                                </div>
                                <div class="row mt-3">
                                    <div class="col-12 d-md-flex">
                                        <div class="form-check me-3">
                                            {{ filter_form.is_private }}
                                            {{ filter_form.is_private.label_tag }}
                                        </div>
                                        <div class="form-check">
                                            {{ filter_form.is_available }}
                                            {{ filter_form.is_available.label_tag }}
                                        </div>
                                    </div>
                                    <div class="col-12 mt-3">
                                        <button type="submit" class="btn btn-primary">Фильтровать</button>
                                        <a href="{% url 'events:event_list' %}" class="btn btn-outline-danger">Сбросить</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            {% include "snippets/_pagination.html" %}

            <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 row-cols-xxl-4 g-4">
                {% for event in event_list %}
                <div class="col">
                    <div class="card h-100">
                        <div class="card-header">
                            <h5 class="card-title mb-0">{{ event.title }}</h5>
                            <span data-test="is_private" class="badge bg-dark">{% if event.is_private %}Private{% endif %}</span>
                        </div>
                        <div class="card-body">
                            <h3>{{ event.display_enroll_count }} из {{ event.participants_number }}</h3>
                            <p>участников</p>
                            <ul class="py-2">
                                {%  for feature in event.features.get_queryset %}
                                <li>{{ feature }}</li>
                                {% endfor %}
                            </ul>
                            <p>
                                дата: <strong data-test="date_start">{{ event.date_start|date:"d.m.Y в H:i" }}</strong>
                            </p>
                        </div>
                        <div class="card-footer">
                            <a href="{{ event.get_absolute_url }}" class="btn btn-success">Смотреть</a>
                            <a href="{{ event.get_update_url }}" class="btn btn-outline-primary" title="Изменить">
                                <i class="bi bi-pencil-square"></i>Изменить
                            </a>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <!-- End CONTAINER_BAR -->
{% endblock %}
{% block review_scripts %}
        </div>
    <!-- End MAIN_CONTAINER -->

</div>

{% endblock %}